/* Log In and Sign Up */

.log-in, .sign-up {
  margin: auto;
  border: solid black 2px;
  width: 50%;
  text-align: center;
  padding: 20px;
}

.actions input {
    width: 192px;
    margin: 5px;
}

.actions a {
    padding-bottom: 20px;
}

.field {
  margin: 5px;
}

/* Stock display colors based on open price vs. current_price */

.App-link {
  color: #61dafb;
}

.green {
  color: green;
}

.grey {
  color: grey;
}

.red {
  color: red;
}

/* Navbar */

.nav {
  text-align: right;
}

/* Errors */

.alert, #error_explanation {
  color: red;
  width: 50%;
  margin: auto;
}

.notice {
  color: blue;
  text-align: center;
}

.error {
  color: red;
  padding: 10px
}

/* right and left alignment for portfolio and form */

.right {
  width: 50%;
  height: 100%;
  float: right;
  margin: auto;
}

.left {
  position: absolute;
  width: 40%;
  border-right: 2px solid black;
  padding-right: 20px;
  padding-left: 30px;
  height: 30%;
}

/* Stock Form */

.form input {
  margin: 5px;
  padding: 5px;
}

.form input.button {
  width: 192px;
}

/* Transaction and Stock Listing */

.stock, .transaction {
  padding: 10px;
  border-bottom: 2px solid black;
}

.stock {
  width: 45%
}

.transaction {
  width: 30%
}
