.log-in {

  margin: auto;
  width: 100%;
  text-align: center;
}

/* Stock display colors based on open price vs. current_price */

.App-link {
  color: #61dafb;
}

.green {
  color: green;
}

.grey {
  color: grey;
}

.red {
  color: red;
}

/* Navbar */

.nav {
  text-align: right;
}

/* Errors */

.error {
  color: red;
}

.notice {
  color: blue;
}

/* right and left alignment for portfolio and form */

.right {
  width: 40%;
  height: 100%;
  float: right;
}

.left {
  position: absolute;
  width: 40%;
  border-right: 2px solid black;
  padding-right: 20px;
  padding-left: 30px;
  height: 30%;
}

/* Stock Form */

.form input {
  margin: 5px;
  padding: 5px;
}

.form input.button {
  width: 192px;
}
